header {
  padding: 150px 0 100px;
}

section {
  padding: 150px 0;
}

section.frontsection-height {
  height: calc(100vh);
}

section.notfrontsection-height {
  height: calc(100vh - 56px);
}

section.whiteBackground {
  background-color: white;
}

section.darkBackground {
  background-color: rgb(52, 58, 64);
}

section.blueBackground {
  background-color: rgb(0, 125, 250);
}

section.homeBackground {
  background-image: url('../images/marius-masalar.jpg');	
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: fit-content;
}

section.aboutMeBackground {
  background-color: white;
  /* background-image: url('../images/marius-masalar.jpg');	*/
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: fit-content;
}

section.projectsBackground {
  background-color: rgb(235, 235, 235);
  /*
  background-image: url('../images/artem-sapegin.jpg');	
  background-position:center;
	background-repeat:no-repeat;
  background-size:cover;
  */
  width: fit-content;
  height: fit-content;
}

p.boldBigBlackText {
  color: black;
  font-weight: bold;
  font-size: 2em;
}

 /* Style all font awesome icons */
 .fa {
  background-color: rgb(0, 125, 250);
  color: white;
  border-radius: 10%;
  padding: 2.5px;
  font-size: 50px;
  height: 55px;
  width: 55px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* Github */
.fa-github {
  background: none;
  color: rgb(25, 115, 225);
}

/* LinkedIn */
.fa-linkedin {
  background: rgb(25, 115, 225);
  color: white;
}

/* Email */
.fa-envelope {
  background: none;
  color: rgb(25, 115, 225);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(0, 125, 250);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

div.socialMediaBox {
  background-color: rgb(235, 235, 235);
  color: white;
  padding: 20px 20px;
  text-align: left;
  border: none;
  border-radius: 4px;
}

div.encryption {
  background-image: url('../images/markus-winkler.jpg');	
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: 100px;
  padding: 20px 20px;
  text-align: left;
  border: none;
  border-radius: 4px;
}

div.gaming {
  background-image: url('../images/mateo-vrbnjak.jpg');	
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: 100px;
  padding: 20px 20px;
  text-align: left;
  border: none;
  border-radius: 4px;
}

div.fireFighting {
  background-image: url('../images/jay-heike.jpg');	
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: 100px;
  padding: 20px 20px;
  text-align: left;
  border: none;
  border-radius: 4px;
}

div.tangibleInterface {
  background-image: url('../images/rick-mason.jpg');	
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  width: fit-content;
  height: 100px;
  padding: 20px 20px;
  border-radius: 4px;
  text-align: left;
  border: none;
}

div.socialBox {
  background-color: rgb(235, 235, 235);
  padding: 1em 1em;
  text-align: left;
  height: inherit;
  color: black;
  border: none;
}

div.outerProjectBox {
  background-color: white;
  padding: 1em 1em;
  text-align: left;
  height: inherit;
  color: black;
  border: none;
}

div.projectInnerBox {
  background-color: rgba(255, 255, 255, 0.80);
  padding: 1em 1em;
  text-align: left;
  height: inherit;
  color: black;
  border: none;
}

/* This is here because rows act like idiots on smaller devices with regards to padding*/
a.projectLinker {
  text-align: center;
  text-decoration: none;
  padding-inline-end: 0;
}

.projectLinker:hover {
  opacity: 0.85;
}

.lead {
  margin-bottom: 4px;
}

#randomQuote {
  opacity: 1;
  transition: 1s opacity;
  font-size:32px;
}

.row{
  margin: 0em 0em 1em 0em;
}